{% extends "base.html" %}

{% block content %}
<section class="about" data-aos="fade-up">
    <h2>About Me</h2>
    <p>I am a passionate computer science student with a keen interest in programming, design, and cybersecurity. Currently working at an education provider in Australia, I'm always eager to learn and try new technologies.</p>
    <div class="education" data-aos="fade-right">
        <h3>Education</h3>
        <p>Bachelor of Computer Science, University of Southern Queensland</p>
    </div>
</section>
{% endblock %}